* {
	padding: 0;
	margin: 0;
}

body {
	background: #73FAC9;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gameboy {
	margin-top: -55vmin;
	margin-left: -35vmin;
	background: transparent;
	font-size: 2vmin;
	height: 1em;
	width: 1em;
	color: #445291;
	box-shadow:
	/* row 1 */
	1em 0 #004278,
	2em 0 #004278,
	3em 0 #004278,
	4em 0 #004278,
	5em 0 #004278,
	6em 0 #004278,
	7em 0 #004278,
	8em 0 #004278,
	9em 0 #004278,
	10em 0 #004278,
	11em 0 #004278,
	12em 0 #004278,
	13em 0 #004278,
	14em 0 #004278,
	15em 0 #004278,
	16em 0 #004278,
	17em 0 #004278,
	/* row 2 */
	0 1em #004278,
	1em 1em #6974A7,
	2em 1em #6974A7,
	3em 1em,
	4em 1em, 
	5em 1em,
	6em 1em,
	7em 1em,
	8em 1em,
	9em 1em,
	10em 1em,
	11em 1em,
	12em 1em,
	13em 1em,
	14em 1em,
	15em 1em,
	16em 1em #364174,
	17em 1em #364174,
	18em 1em #004278,
	/* row 3 */
	0 2em #004278,
	1em 2em #6974A7,
	2em 2em #6974A7,
	3em 2em #004278,
	4em 2em #004278,
	5em 2em #004278,
	6em 2em #004278,
	7em 2em #004278,
	8em 2em #004278,
	9em 2em #004278,
	10em 2em #004278,
	11em 2em #004278,
	12em 2em #004278,
	13em 2em #004278,
	14em 2em #004278,
	15em 2em #004278,
	16em 2em #364174,
	17em 2em #364174,
	18em 2em #004278

	;




	



}