.pixelheart {
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	background: transparent;
  height: 1px;
  width: 1px;
	color: red;
	box-shadow: 
		/* 1st row */ 1px 0 black,2px 0 black, 6px 0 black, 7px 0 black, 
		/* 2nd row */ 0 1px black, 1px 1px, 2px 1px, 3px 1px black, 5px 1px black, 6px 1px, 7px 1px, 8px 1px black,
		/* 3rd row */ 0 2px black, 1px 2px, 2px 2px, 3px 2px, 4px 2px black, 5px 2px, 6px 2px, 7px 2px, 8px 2px black,
		/* 4th row */ 0 3px black, 1px 3px, 2px 3px, 3px 3px, 4px 3px, 5px 3px, 6px 3px, 7px 3px, 8px 3px black,
		/* 5th row */ 1px 4px black, 2px 4px, 3px 4px, 4px 4px, 5px 4px, 6px 4px, 7px 4px black,
		/* 6th row */ 2px 5px black, 3px 5px, 4px 5px, 5px 5px, 6px 5px black,
		/* 7th row */ 3px 6px black, 4px 6px, 5px 6px black,
		/* 8th row */ 4px 7px black;
	transform: scale(20);
}